server {
    listen 80;
    server_name localhost;

    location /plague-brush/admin {
        proxy_pass http://eshop-admin-ui:8080/plague-brush/admin;
    }

    location /plague-brush {
        proxy_pass http://eshop-ui:8080/plague-brush;
    }
}